---
layout: default
title: Half Ninja
---

<h2>Science</h2>
   <ul class="experiments">
    {% for post in site.categories.experiments %}
      <li><a href="{{ site.baseurl }}{{ post.url | remove:site.urlstrip }}" title="{{ post.title }}"><img src="{{ site.baseurl }}{{post.id}}.png"></a></li>
    {% endfor %}
  </ul>

<h2>Blarg</h2>
{% if site.categories.blog %}
   <ul class="posts">
    {% for post in site.categories.blog %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url | remove:site.urlstrip }}">{{ post.title }}!</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Nothing in the Blawhrg yet.</p>
{% endif %}

